*{
    padding: 0;
    margin: 0
}

body{height: 100vh;}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu_button{width: 15%; height: 5%; font-size: 20px;}
#menu{
    width: 50%;
    text-align: center;
}

h3{
    margin-bottom: 2%;
    font-size: 80px;
    text-decoration: underline black 5px;
}

ul{
    text-decoration: none;
    list-style: none;
}
 
li{
    margin: 1.6%;
}